* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 25px;
    background-color: rgb(7, 124, 66);
    border: 5px solid rgb(12, 12, 12);
}

h1 {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-size:30px;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid black;
    border-top: 0;
    background-color: rgb(3, 148, 75);
    padding: 25px;
}

.fontcol1{
    text-align: left;
    color: rgb(17, 16, 16);
    font-style: italic;
    font-weight: bold;
    border: 5px solid black;
    height: 550px;
}

.fontcol2{
    text-align: left;
    color: rgb(14, 14, 14);
    font-style: italic;
    font-weight: bold;
    border: 5px solid black;
    height: 550px;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid black;
    border-top: 0;
    background-color: rgb(3, 148, 75);
    padding: 25px;
}

button {
    border: 3px solid red;
    text-align: center;
    border-radius: 999px;
}
